################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CrazyCakes/v16/Browse.VC.db
/.vs/CrazyCakes/v16/Browse.VC.opendb
/.vs/CrazyCakes/v16/Browse.VC.db-wal
/.vs/CrazyCakes/v16/Browse.VC.db-shm
